#boss{
    margin: auto;
    width: 1000px;

}
#header{
    width: 1000px;
    height: 100px;
    background: chartreuse;
    margin-bottom: 10px;

}
#main{
    width: 1000px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
#nav{
    margin-right: 10px;
    float: left;
    width: 200px;
    height: 500px;
    background: violet;
    margin-bottom: 10px;
}
#article{
    margin-right: 10px;
    float: left;
    width: 580px;
    height: 500px;
    background: violet;
    margin-bottom: 10px;
}
#ads{
    float: left;
    width: 200px;
    height: 500px;
    background: violet;
    margin-bottom: 10px;
}
#footer{
    margin-top: 10px;
    width: 1000px;
    height: 110px;
    background: chartreuse;
    clear: left;
}