#boss{
    width: 1000px;
    margin: auto;
        }
#header{
    width: 1000px;
    height: 100px;
    background: rgb(70, 103, 209);
}
#main{
    margin: 0px auto;
    width: 620px;
    height: 400px;
    }
#content{
    margin-bottom: 10px;
    float: left;
    width: 400px;
    height: 250px;
    background: cyan;
    margin-right: 10px;
}
#sidebar{
    margin-bottom: 10px;
    float: left;
    width: 200px;
    height: 250px;
    background: cyan;

}
.twin{
    margin-right: 10px;
    float: left;
    width: 300px;
    height: 250px;
    background: cyan;
    padding-bottom: 10px;

}
.twin1{
    width: 300px;
    height: 250px;
    background: cyan;
    padding-bottom: 10px;
}
#footer{
    clear: left;
    width: 1000px;
    height: 100px;
    background: blue;
}